OPENROUTER_API_KEY=
GEMINI_API_KEY=
LLM_MODEL=google/gemini-2.0-flash-lite-001
EXECUTABLE_PATH=/usr/lib/chromium/chromium # Or wherever your Chromium/Chrome executable is
EXTENSION_PATHS="/home/chuck/git/puppeteer-paywall/I-Still-Dont-Care-About-Cookies/src,/home/chuck/git/puppeteer-paywall/bypass-paywalls-chrome-clean-master,/home/chuck/git/puppeteer-paywall/uBOL-home/chromium"
# NODE_ENV=development # Uncomment for more verbose error logging
